@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

body, html{
  width: 100%;
  margin: 0;
	color: black;
  scroll-behavior: smooth;
  font-family: 'Pokemon Solid', sans-serif;
  letter-spacing: 2px;
	background-image: url("./img/background-content.svg");
}

.fadeIn{
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn{
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn{
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn{
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn{
  0% {opacity:0;}
  100% {opacity:1;}
}

.navbar{
  text-align: center;
}

.logo {
  max-width: 150px;
  max-height: 150px;
  width: 100%;
}

.header {
  height: 400px;
  background-color: #343a40;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.header-content{
  color: white;
  padding-top: 100px;
}

.pokemon-mobile{
  max-width: 400px;
  cursor: pointer;
}

.content{
  padding-top: 150px;
  margin-bottom: 75px;
  color: #343a40;
}

.text-card{
  background-color: white;
  color: #343a40;
  cursor: pointer;
}

.text-container
{
  background-color: white;
  box-shadow: 2px 2px 2px 2px gray;
  border-radius: 25px 0 25px 0;
  padding: 50px;
}

.text-container:hover, .text-card:hover{
  background-color: #343a40;
  color: white;
  transition-duration: 0.4s;
}

.footer{
  position: fixed;
  bottom: 5px;
  left: 10px;
  right: 10px;
  background-color: #343a40;
  color: white;
  box-shadow: 2px 2px 2px 2px gray;
  border-radius: 25px 0 25px 0;
  margin-top: 75px;
  padding: 20px;
  z-index: 2;
}

.pokemon-ball {
  max-width: 100px;
  max-height: 100px;
  width: 100%;
}

.search-input{
  min-width: 200px;
}

.pagination > li > span{
  color: #343a40;
  cursor: pointer;
}

.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
    transition-duration: 0.4s;
}

.tada {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.tada:hover {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.card{
  box-shadow: 2px 2px 2px 2px gray;
}

.badge{
  margin: 5px;
  padding: 7.5px;
}

@media only screen and (max-width: 600px)
{
  .pokemon-mobile{
    padding-top: 50px;
    width: 400px;
  }
  .header{
    height: auto;
  }
}

@media only screen and (max-width: 500px){
  .pokemon-mobile{
    width: 300px;
  }
  .text-container{
    padding: 25px;
  }
}

@media only screen and (max-width: 400px){
  .pokemon-mobile{
    width: 200px;
  }
}

@media only screen and (max-width: 300px){
  .pokemon-mobile{
    width: 100px;
  }
  .search-input{
    min-width: 100px;
  }
}

@media only screen and (max-width: 260px)
{
  .logo{
    max-width: 100px;
    max-height: 100px;
  }
}

@media only screen and (max-height: 550px)
{
  .footer{
    border-radius: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media only screen and (max-height: 530px)
{
  .footer{
    position: relative;
  }
}